LLM_PATH=
LLM_TEMPERATURE=0.5
LLM_MAX_TOKENS=2048
LLM_CTX=1024

BOT_TOKEN=

MONGO_HOST="localhost"
MONGO_PORT=27017

TAVILY_API_KEY=
CHAT_MAX_HISTORY_LEN=50

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_DB=chat_db
PG_PASSWORD=password
