LLM_PATH=
LLM_TEMPERATURE=0.5
LLM_MAX_TOKENS=512
LLM_CTX=2048
LLM_CPU=true

BOT_TOKEN=

TAVILY_API_KEY=
CHAT_MAX_HISTORY_LEN=10

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_DB=chat_db
PG_PASSWORD=password

LANGCHAIN_API_KEY=
